body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #dbf6e9;
}
.navbar {
  opacity: 100%;
  background-color: #FFFFFF;
}
#TOP_BAR{
  box-shadow: 0 8px 6px -6px black;
}
.company_name{
  margin-left: 50px;
  font-size: 35px;
  font-family: 'Aclonica', sans-serif;
  color: #31326f;
}
.subheading{
  font-size: 15px;
  color: #ffc93c;
}
[type=search] {
    float: left;
    margin: 0px;
    padding: 3px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: 'EB Garamond', serif;
    border-color: #31326f;
}
.search-button{
  padding: 3px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: 'EB Garamond', serif;
  background-color: #31326f;
  color: white;
  border-color: #31326f;
}
.bag {
  margin-right: 35px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: #26619c;
}
.sign_in{
  margin-right: 30px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: #26619c;
}
.column {
  float: left;
  width: 50%;
  border: 20px;
}
.row{
  margin-left: 120px;
  margin-right: 30px;
  width: 1280px;
  background-color: white;
  transition: 0.5s all ease-in-out;
}
.row:hover {
    transform: scale(1.1);
}
.right{
  background-color: white;
}
.heading{
  margin-top: 45px;
  font-family: 'PT Serif', serif;
}
.company_name_heading{
  font-family: 'Aclonica', sans-serif;
  color: #31326f;
}
.heading1{
  margin-top: 10px;
  font-family: 'PT Serif', serif;
}
.addtocart{
  padding: 3px;
  border-radius: 5px;
  font-family: 'EB Garamond', serif;
  background-color: #31326f;
  color: white;
}
.company_description{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #536162;
}
a{
  text-decoration: none;
}
.results{
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
  background-color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ffc93c;
  padding-top: 15px;
}
.row1:after{
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 25%;
  text-align:center;
  padding: 10px;
}
.benefits{
  background-color: white;
  margin-left: 120px;
  margin-right: 120px;
  font-family: 'Crimson Text', serif;
  transition: 0.5s all ease-in-out;
}
.benefits:hover {
    transform: scale(1.1);
}
.results1{
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 120px;
  background-color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ffc93c;
  padding-top: 15px;
}
.column2{
  text-align: justify;
  float: right;
  width: 50%;
  border: 20px;
  font-family: 'Crimson Text', serif;
}
.imagesforkey{
  float: left;
  margin-right: 5px;
}
.row3{
  margin-left: 120px;
  margin-right: 30px;
  width: 1280px;
  background-color: white;
  font-family: 'Crimson Text', serif;
  transition: 0.5s all ease-in-out;
}
.row3:hover {
    transform: scale(1.1);
}
.results2{
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
  background-color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ffc93c;
  padding-top: 15px;
}
.row4{
  margin-left: 120px;
  margin-right: 30px;
  width: 1280px;
  background-color: white;
  font-family: 'Crimson Text', serif;
  transition: 0.5s all ease-in-out;
}
.row4:hover {
    transform: scale(1.1);
}
.accordion-body{
  color: green;
  margin-left: 60px;
}
